MONGODB_DATABASE=your_DATABASE_here
MONGODB_USERNAME=your_USERNAME_here
MONGODB_PASSWORD=your_PASSWORD_here
MONGODB_AUTH_SOURCE=your_AUTH_SOURCE_here
MONGODB_URI=mongodb://your_USERNAME_here:your_PASSWORD_here@your_HOST_here:your_PORT_here/your_DATABASE_here?authSource=your_AUTH_SOURCE_here
SESSION_IDLE_TIMEOUT_MINUTES=60
PASSWORD_PEPPER=replace_with_a_long_random_secret
