MONGODB_URI=mongodb+srv://your_USERNAME_here:your_PASSWORD_here@your_CLUSTER_HOST_here/?retryWrites=true&w=majority&appName=your_APP_NAME_here
MONGODB_DATABASE=roadmap_planner

SESSION_IDLE_TIMEOUT_MINUTES=60
PASSWORD_PEPPER=replace_with_a_long_random_secret
